@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
/*
body{
	max-height: 100vh;
	max-width: 100%;
}*/
.container{
	position: relative;
	padding: 0 100px;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}
.container:before{
	content: '';
	top: 0;
	right: -10%;
	position: fixed;
	background: #333;
	height: 100vh;
	width: 37%;
	transform: skewX(-22deg);
	z-index: -2;
}
.container:after{
	content: 'healthy';
	top: 65%;
	bottom: 0;
	left: 3%;
	position: absolute;
	color: #adadad;
	font-weight: 700;
	font-size: 15vw;
	z-index: -2;
	opacity: 0.3;
}
header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 25px 0px 50px;
}
header h1{
	font-weight: 700;
	font-size: 30px;
	padding: 0 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;	
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}
header h1 span{
	color: #52B90E ;
}
header ul{
	position: relative;
	display: flex;
}
header ul li{
	list-style: none;
	margin: 0 18px;
}
header ul li a{
	position: relative;
	padding: 5px 10px;
	font-size: 18px;
	color: #333;
}
header ul li:nth-child(1) a{
	color: #fff;
}
header ul li:nth-child(4) a{
	color: #ddd;
}
header ul li a:before{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 0;
	height: 100%;
	background: #78ff00;
	z-index: -1;
	transition: .5s ease-in-out;
}
header ul li a:hover:before,
header ul li a.active:before{
	width: 100%;
}
header ul li a.active:hover:before{
	width: 4%;
}
header ul li a:hover{
	color: #333;
	transition: .5s ease-in-out;
}
header ul li:nth-child(2) a:hover,
header ul li:nth-child(3) a:hover{
	color: #fff;
	transition: .5s ease-in-out;
}
.content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 50px;
	margin-top: 5px;
}
.banner{
	position: relative;
	min-width: 40%;
	max-width: 50%;
	margin-right: 10px;
	display: block;
}
.banner div{
	transition: .3s ease-out;
	display: none;
}
.banner div.active{
	display: initial;
}
.banner_img{
	position: relative;
	width: 400px;
    height: 300px;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 
	              4px 4px 8px rgba(0, 0, 0, 0.8);
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
	border: 2px solid #ddd;
}
.banner_img img{
	position: absolute;
	padding: 5px;
	border-radius: 
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.banner_img img.active{
	opacity: 1;
	transition: .3s ease-in-out;
}
.banner h2{
	font-size: 54px;
	font-weight: 800;
	text-transform: uppercase;
	color: #333;
	line-height: 50px;
}
.banner h2 span{
	color: #52B90E ;
}
.banner span p{
	font-size: 18px;
	color: #333;
	margin: 20px 10px;
	line-height: 30px;
}
.banner a{
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #555;
	margin: 0 10px;
	padding: 5px;
}
.banner a:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	background: #78ff00;
	z-index: -1;
	transition: .5s ease-in-out;
}
.banner a:hover:before{
	height: 100%;
}
.banner a:hover{
	color: #fff;
	transition: .5s ease-in-out;
}
.icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}
.icons .social,
.icons .controls{
	position: relative;
	display: flex;
	cursor: pointer;
}
.icons .social{
	margin-left: 30px;
	color: #333;
	}
.icons .social li{
	padding: 5px;
	list-style: none;
	margin-left: 30px;
}
.icons .social li:nth-child(4){
	margin-right: 20px;
}
.icons .social li i{
	font-size: 30px;
}
.icons .social li:hover i{
	color: #000;
	transform: translateY(-10px);
	transition: .5s ease-in-out;
}
.icons .controls{
	margin-right: 30px;
	padding: 5px;
	color: #ddd;
}
.icons .controls li{
	list-style: none;
	margin-right: 30px;
}
.icons .controls li:nth-child(1){
	margin-left: 20px;
}
.icons .controls li:nth-child(2){
	margin-right: 20px;
}
.icons .controls li i{
	font-size: 30px;
}
.icons .controls  li:hover i{
	opacity: 0.5;
	transition: .3s ease-in-out;
}
header .menu_icon, .close_icon{
	display: none;
}

@media (max-width: 1250px)
{
	.container:before {
    width: 35%;
    transform: skewX(-16deg);
    }
}

@media (max-width: 992px)
{
	.container {
    padding: 0px;
    min-height: 120vh;
    }
    .container:before {
    display: none;
    }
    .container:after{
	top: 78%;
	left: 1%;
	position: static;
	}
    header {
    padding: 25px 50px;
	}
	.banner {
    max-width: 85%;
    margin-right: 0px;
    }
	.banner h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 5px;
	}
	.banner span p{
	font-size: 16px;
	line-height: 25px;
	}
    .banner a {
    float: right;
    margin-right: 5%;
    }
    .content {
    padding: 0 20px;
    align-items: flex-start;
    margin: 0 20px;
    flex-direction: column-reverse;
    }
    .banner_img {
    width: 90%;
    height: 50vh;
    margin: 15px 0;
    border: none;
    background: none;
    box-shadow: none;
    }
	header ul {
	    display: none;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    background: #fff;
	    z-index: 10000;
	    padding: 100px 0;
	}
	header.active ul {
		display: initial;
	}
	header ul li {
		padding: 20px;
		text-align: center;
	}
	header ul li a {
		font-size: 36px;
		color: #333 !important;
	}
	header ul li a.active:hover:before{
		width: 100%;
	}
	header .menu_icon{
		display: initial;
		position: fixed;
		right: 50px;
		padding: 8px;
		cursor: pointer;
		z-index: 10000;
	}
	header .menu_icon i{
		font-size: 30px;
		color: #333;
	}
	header .menu_icon i:hover{
		color: #fff;
		transition: .5s ease-in-out;
	}
	header.active .menu_icon{
		display: none;
	}
	header.active .close_icon{
		display: initial;
		position: fixed;
		right: 50px;
		padding: 8px;
		cursor: pointer;
		z-index: 10000;
	}
	header .close_icon{
		font-size: 35px;
		color: #333;
		display: none;
	}
	header .close_icon i:hover{
		color: #78ff00;
		transform: rotate(90deg);
		transition: 1s ease-in-out;
	}
	.icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 5px;
    }
	.icons .social {
    color: #333;
    flex-direction: column;
    right: 3%;
    top: 20%;
    position: absolute;
    }
    .icons .social li{
    	margin: 8px;
    }
    .icons .social li i{
	font-size: 28px;
	}
    .icons .social li:hover i{
	opacity: 0.5;
	font-weight: bold;
	transform: translateY(0px);
	transition: .3s ease-in-out;
	}
    .icons .controls {
    margin-right: 0px;
    color: #333;
    position: absolute;
    padding: 2px;
    }
    .icons .controls li{
	margin-right: 22px;
	}
    .icons .controls li i{
	font-size: 24px;
	}
}

@media (max-width: 767px)
{
	.container {
    padding: 20px 30px;
    min-height: 100vh;
    width: 90%;
    }
    .container:before {
    display: none;
    }
    .container:after {
    top: 83%;
    left: 0%;
    position: absolute;
    }
    header {
    padding: 20px 10px;
	}
    header h1{
	font-weight: 500;
	font-size: 20px;
	}
	header h1 span{
	font-size: 20px;
	color: #52B90E ;
	}
	.content {
    padding: 0px;
    margin: 0px;
	}
    .banner_img {
    width: 80%;
    height: 40vh;
    margin: 15px 0;
    }
    .banner {
    max-width: 80%;
    }
	.banner h2 {    
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
    }
    .banner span p{
	font-size: 14px;
	line-height: 20px;
	}
    .banner a {
    font-size: 15px;
    font-weight: 400;
    float: right;
    margin-right: 5%;
    }
    header .menu_icon {
    right: 20%;
    position: fixed;
	}
    header .menu_icon i{
		font-size: 20px;
	}
	.icons .social, .icons .controls {
    right: 7%;
    position: absolute;
	}
    .icons .social li i {
	font-size: 20px;
	}
	.icons .controls {
    padding: 0px;
    }
    .icons .controls li{
	margin-right: 15px;
	}
    .icons .controls li i {
    font-size: 18px;
    }
    header ul {
	    padding: 90px 0;
	}
	header ul li {
		padding: 14px;
	}
    header ul li a {
		font-size: 25px;
	}
	header .close_icon{
		font-size: 25px;
	}
}

/*
@media(1200px){
	.container:before {
	    width: 40%;
	    transform: skewX(-15deg);
	}
}
*/